{% extends 'partidas/base.html' %}

{% block title %}Detalle del Sistema{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Detalle del Sistema
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ sistema.nombre }}</h5>
                        <p class="card-text">Tipo de dado: {{ sistema.dado }}</p>
                        <p class="card-text">Base del juego: {{ sistema.base }}</p>
                        <p class="card-text">Descripción: {{ sistema.descripcion | default:"No proporcionado" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}