{% extends 'partidas/base.html' %}

{% block title %}Unirse a una partida{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4">Unirse a una partida</h2>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Datos del jugador
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'unirse-juego-con-form' %}">
                            {% csrf_token %}  <!-- CSRF Token added here -->
                            {{ create_reserva_form.as_p }}
                            <button type="buscar" class="btn btn-primary">Unirse</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}